body, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

.big-header {
	background-color: #e3e3e3;
	height: 500px;
	width: 100%;
	padding: 80px;
}

section.introduction {
	background-color: white;
	height: 300px;
	width: 100%;
	padding: 20px;
}

section.introduction p {
	font-style: italic;
	font-weight: 700;
}

section.below {
	background-color: #888;
	color: white;
	padding: 20px;
}